.post-page-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 23px;
    border-radius: 3px;
    margin: 10px;
    color: white; 
}

.delete-post-button, .edit-post-button {
    background-color: #F24182;
    border: 2px solid  #F24182;
    width: 100px;
}

.delete-post-button:hover, .edit-post-button:hover {
    background-color: #F2C53D;
    border: 2px solid  #F24182;
}