.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}


#call-to-action {
    color: white;
    font-size: 26px;
    background-color: #3966BF;
    padding: 15px;
    border-radius: 5px;
}

.yalla-login:hover {
    font-size: 28px;
    color: white;
}

@media screen and (min-width: 720px) {

    .app-explanation > h3 {
        font-size: 26px;
    }

    .testUserList {
        font-size: 24px;
    }

    .app-explanation > p {
        font-size: 20px;
    }

    #call-to-action {
        font-size: 28px;
    }
    
}

@media screen and (min-width: 980px) {

    .app-explanation > h3 {
        font-size: 28px;
    }

    .testUserList {
        font-size: 26px;
    }

    .app-explanation > p {
        font-size: 22px;
    }

    #call-to-action {
        font-size: 28px;
    }
    
}