.loginForm {
    display: block;
    font-size: 26px;
    text-align: left;
    color: white;
    background-color: #3966BF;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #3966BF;
    border-radius: 5px;
}

.login_input {
    background-color: white;
    margin: 5px;
    margin-bottom: 20px;
    font-size: 22px;
    width: 90%;
    border: 1px solid #3966BF;
    color: #223454;
    border-radius: 3px;
    padding: 6px;
}

.login-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 23px;
    border-radius: 3px;
    margin: 10px;
    color:  #223454;
}

.loginButton, .cancelButton {
    background-color: white;
    border: 2px solid  #F2C53D;
    width: 100px;
}

.cancelbutton:hover, .loginButton:hover {
    background-color: #F2C53D;
}

.error, .loginError {
    color: #F20F38;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    
}

@media screen and (min-width: 720px) {

    .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px;
        font-size: 30px;
        margin-top: 40px;
        margin-right: 60px;
        margin-left: 60px;
        border-radius: 5px;
    }

    .username, .password {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }

    label {
        flex: 1;
    }

    .login_input {
        margin: 10px;
        margin-bottom: 20px;
        padding-left: 5px;
        font-size: 24px;
        width: 60%;
        flex: 2;
        height: 40px;
    }

    .login_error {
        width: 100%;
        font-size: 29px;
    }

    button {
        font-size: 20px;
    }

    .loginButton, .cancelButton {
        width: 100px;
        color: #223454;
    }

    .error, .login_error {
        font-size: 29px;
    }
}
  @media screen and (min-width: 980px) {

    .loginForm {
        margin-left: 150px;
        margin-right: 150px;
    }

    .login_input {
        flex: 3;
    }

    .login_input {
        margin: 15px;
        margin-bottom: 20px;
        font-size: 26px;
    }

    .login-form-buttons {
        justify-content: flex-end;
    }
}