.task-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.task-item-headline {
    font-size: 28px;
    margin: 20px;
}

.task-done {
    background-color: #3966BF;
    margin-bottom: 20px;
    border: 2px solid #3966BF;
    border-radius: 3px;
}

.task-done:hover {
    background-color: #223454;
}


@media screen and (min-width: 980px) {

    .task-item-headline {
        font-size: 32px;
    }

    .task-done {
        font-size: 26px;
    }

    .add-task-button, .add-task-list-button {
        font-size: 26px;
    }

}