.Header {
  background-color: #F24182;
  color: white;
  padding: 10px 20px 10px 20px;
}

a:-webkit-any-link {
  color: white;
}

a:hover {
  color: #223454;
}

.logo {
    height: 50px;
    border-radius: 3px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }
  
    .Header h1 {
      margin: 0;
      font-size: 40px;
      color: white;
    }

.logout-button {
  background-color: #F24182;
  border: 2px solid  #F2C53D;
}

.logout-button:hover {
  background-color: #F2C53D;
}

@media screen and (min-width: 720px) {

  .logout-button {
    width: 100px;
  }

  .login-link, .registration-link {
    font-size: 20px;
  }

}

@media screen and (min-width: 980px) {

  .login-link, .registration-link {
    font-size: 24px;
  }
}

