.App__main{
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 20px 40px 20px;
    background-color: #86A69D;
    color: #261010;
}

h1 {
    font-family: 'Candal', sans-serif;
}

a {
    text-decoration: none;
}